 Youâ€™re given two dataframes: transactions and products.

  The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.
  The products dataframe contains product ids and prices.

  Write a function to return a dataframe containing every transaction with a total value of over $100. Include the total value of the transaction as a new column in the dataframe.

In [4]:
import pandas as pd

transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}

products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)

df_products = pd.DataFrame(products)

In [5]:
#def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
df = pd.merge(df_transactions,df_products,how='inner',on=['product_id'])
df

   transaction_id  product_id  amount  price
0               1         101       3   20.0
1               2         102       5   21.0
2               3         103       8   15.0
3               4         104       3   16.0
4               5         105       2   52.0

In [6]:
#!pip install pandas

In [7]:
def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
    df = pd.merge(df_transactions,df_products,how='inner',on=['product_id'])
    df['total_price'] = df['amount']*df['price']
    df = df[df['total_price']>=100]
    df = df.drop(['price'],axis = 1)
    return df

In [8]:
transactions_over_100(df_transactions, df_products)

   transaction_id  product_id  amount  total_price
1               2         102       5        105.0
2               3         103       8        120.0
4               5         105       2        104.0